<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="simpleoa.dao.IWorkTimeDao">

    <resultMap id="WorkTimeMap" type="WorkTime">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="relname" property="relname" />
        <result column="projectid" property="projectid" />
        <result column="projectname" property="projectname" />
        <result column="projectstatus" property="projectstatus" />
        <result column="tmworktime" property="tmworktime" />
        <result column="twworktime" property="twworktime" />
        <result column="coworktime" property="coworktime" />
        <result column="IS_DELETE" property="IS_DELETE" />
        <result column="CREATE_USER" property="CREATE_USER" />
        <result column="CREATE_TIME" property="CREATE_TIME" />
        <result column="UPDATE_USER" property="UPDATE_USER" />
        <result column="UPDATE_TIME" property="UPDATE_TIME" />
    </resultMap>

    <insert id="addWorkTime" parameterType="WorkTime">
        insert into s_worktime(userid,relname,projectid,projectname,projectstatus,tmworktime,twworktime,coworktime,IS_DELETE,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME)
        values(#{userid},#{relname},#{projectid},#{projectname},#{projectstatus},#{tmworktime},#{twworktime},#{coworktime},#{IS_DELETE},#{CREATE_USER},#{CREATE_TIME},#{UPDATE_USER},#{UPDATE_TIME})
    </insert>

    <update id="updateWorkTime" parameterType="WorkTime" >
        update s_worktime set
        projectstatus=#{projectstatus},tmworktime=#{tmworktime},twworktime=#{twworktime},coworktime=#{coworktime},UPDATE_USER=#{UPDATE_USER},UPDATE_TIME=#{UPDATE_TIME}
        where id=#{id}
    </update>

    <select id="findWorkTimeByUserid" parameterType="int" resultType="WorkTime">
        select * from s_worktime where userid=#{userid} and projectid=#{projectid}
    </select>

    <select id="findAllByUserId" resultMap="WorkTimeMap">
        select * from s_worktime
        <where>
            <if test="userid!=null and userid!=0">
                userid=#{userid}
            </if>
        </where>
        LIMIT #{startRow},#{pageSize}
    </select>

    <select id="getCount" resultType="int">
        select COUNT(*) from s_worktime
        <where>
            <if test="userid!=null and userid!=0">
                userid=#{userid}
            </if>
        </where>
    </select>

    <select id="findWorkTimeById" parameterType="int" resultType="WorkTime">
        select * from s_worktime where id=#{id}
    </select>
</mapper>