<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="simpleoa.dao.ILoginDao">

    <resultMap id="LoginMap" type="LoginLog">
        <id column="id" property="id" />
        <result column="relname" property="relname" />
        <result column="account" property="account" />
        <result column="userid" property="userid" />
        <result column="loginip" property="loginip" />
        <result column="logintime" property="logintime" />
        <result column="IS_DELETE" property="IS_DELETE" />
        <result column="CREATE_USER" property="CREATE_USER" />
        <result column="CREATE_TIME" property="CREATE_TIME" />
        <result column="UPDATE_USER" property="UPDATE_USER" />
        <result column="UPDATE_TIME" property="UPDATE_TIME" />
    </resultMap>

    <select id="findAll"  parameterType="int" resultMap="LoginMap">
        select * from s_loginlog where userid=#{userid}
    </select>

    <insert id="addLoginLog" parameterType="LoginLog">
        insert into s_loginlog(relname,account,userid,loginip,logintime,IS_DELETE,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME)
        values(#{relname},#{account},#{userid},#{loginip},#{logintime},#{IS_DELETE},#{CREATE_USER},#{CREATE_TIME},#{UPDATE_USER},#{UPDATE_TIME})
    </insert>

    <delete id="delLoginById" parameterType="int">
        delete from s_loginlog where id=#{id}
    </delete>
</mapper>