<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="simpleoa.dao.INavDao">

    <resultMap id="NavMap" type="NavMenu">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
        <result column="lid" property="lid" />
        <result column="title" property="title" />
        <result column="authority" property="authority" />
        <result column="sort" property="sort" />
        <result column="IS_DELETE" property="IS_DELETE" />
        <result column="CREATE_USER" property="CREATE_USER" />
        <result column="CREATE_TIME" property="CREATE_TIME" />
        <result column="UPDATE_USER" property="UPDATE_USER" />
        <result column="UPDATE_TIME" property="UPDATE_TIME" />
    </resultMap>

    <select id="findAllByAut" parameterType="int" resultMap="NavMap">
        select * from s_menu where authority>=#{0} order by sort
    </select>
</mapper>