<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="simpleoa.model.User" alias="User" />
        <typeAlias type="simpleoa.model.LoginLog" alias="LoginLog" />
        <typeAlias type="simpleoa.model.WorkLog" alias="WorkLog" />
        <typeAlias type="simpleoa.model.Project" alias="Project" />
        <typeAlias type="simpleoa.model.NavMenu" alias="NavMenu" />
        <typeAlias type="simpleoa.model.WorkTime" alias="WorkTime" />
        <typeAlias type="simpleoa.model.News" alias="News" />
        <typeAlias type="simpleoa.model.Notice" alias="Notice" />
    </typeAliases>
</configuration>